<ul class="comments-list border-top">
  <% post.comments.each do |comment| %>
    <li>
      <span class="coment-picture">
        <%= link_to comment.user.url, target: "blank" do %>
          <%= image_tag(asset_url(comment.user.image), class: "img-circle", width: "33") %>
        <% end %>
      </span>
      <span class="col-md-11">
        <div class="comment-head">
          <%= link_to comment.user.url, target: "blank" do %>
            <%= comment.user.name %>
          <% end %>
          <small class="pull-right">
            <%= time_ago_in_words comment.created_at %> 전
          </small>
        </div>
        <p><%= comment.content %></p>
        <input type="hidden" class="comment-id" value=<%= comment.id %>></input>
      </span>
      <span class="pull-right">
        <% if current_user == comment.user %>
          <div class="btn btn-orange btn-xs btn-comment-update">수정</div>
          <%= link_to '삭제', [comment.post, comment], class: "btn btn-red btn-xs btn-comment-delete", method: :delete, data: { confirm: "정말로 삭제하시겠습니까?"} %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>