<div class="post-form">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= form_for @new_post, builder: PostFormBuilder do |f| %>
          <%= f.form_group :max_participant_number do %>
            <%= f.label :max_participant_number, class: "hidden control-label" %>
            <h5>참여인원</h5>

            <div class="slider" data-min="2" data-max="20" data-value="2" data-fill="#max_participant_number"></div>

            <%= f.text_field :max_participant_number, class: "form-control hidden", id: "max_participant_number" %>
          <% end %>

          <%= f.form_group :link do %>
            <%= f.label :link, class: "hidden control-label" %>
            <%= f.text_field :link, class: "form-control",placeholder: "제품 이미지 Url을 입력해주세요" %>
          <% end %>

          <%= f.form_group :content do %>
            <%= f.label :content, class: "hidden control-label" %>
            <%= f.text_area :content, class: "form-control",  placeholder: "제품 설명을 적어주세요", rows: 10 %>
          <% end %>

          <%= f.submit "등록", class: "btn btn-info btn-block" %>
        <% end %>
      </div>
  </div>
</div>