<li class="notifications dropdown"> 
  <a href="#" class="dropdown-toggle notification" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> 
    <i class="entypo-bell"></i>
    <% unless @notification_size == 0 %>
      <span id="new-notification-number" class="badge badge-secondary">
        <%= @notification_size%>
      </span> 
    <% end %>
  </a> 
  <ul class="dropdown-menu">  
    <% @notifications.each do |notification| %>
      <li>
      <ul class="dropdown-menu-list scroller" tabindex="5002" style="overflow: hidden; outline: none;"> 
        <li> 
          <a id="<%= notification.id %>" href="#<%= notification.post.id %>" class="scroll" data-read="<%= notification.read %>"> 
            <span class="image pull-right"> 
              <img src="<%= notification.send_user.image %>" alt="" class="img-circle" style ="width: 40px; height: 40px;"> 
            </span> 
            <% if notification.read %>
              <span> 
            <% else %>
              <span class="no-read-notification"> 
            <% end %>
              <%= notification.send_user.name %>
            </span> 
            <span class="line desc small">
              <%= notification.message %>
            </span> 
          </a> 
        </li>   
      </ul> 
    </li> 
    <% end %>
    <li class="external"> 
      <a href="#">
      </a> 
    </li>
  </ul> 
</li>