<!DOCTYPE html>
<html>
<head>
  <title>Soma09</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-white page-body <%= content_for(:login_page) %>">
  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">소마공구</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% unless @notifications == nil %>
          <%= render partial: "notifications/notification"%>
        <% end %>
        <li>
          <%= link_to destroy_user_session_path , method: :delete do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            로그아웃
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <%= render partial: "layouts/flash_messages", flash: flash %>
  <%= yield %>
</body>
</html>
